# ضع القيم الحقيقية في Render -> Environment (ولا ترفع .env على GitHub)
TELEGRAM_BOT_TOKEN=PUT_TELEGRAM_BOT_TOKEN_HERE
AE_APP_KEY=PUT_AE_APP_KEY_HERE
AE_APP_SECRET=PUT_AE_APP_SECRET_HERE
AE_GATEWAY=https://api.taobao.com/router/rest
TRACKING_ID=PUT_TRACKING_ID_HERE
